$Raleway: 'Raleway', sans-serif;
$Nunito-Sans: 'Nunito Sans', sans-serif;
$Prata: 'Prata', serif;
$Monospace: 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'Roboto Mono', monospace;
