@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Prata&family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

$Raleway: 'Raleway', sans-serif;
$Nunito: 'Nunito', sans-serif;
$Nunito-Sans: 'Nunito Sans', sans-serif;
$Prata: 'Prata', serif;
$Roboto: 'Roboto', sans-serif;
//$monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$monospace: 'Roboto Mono', monospace;
