$Raleway: 'Raleway', sans-serif;
$Nunito: 'Nunito', sans-serif;
$Nunito-Sans: 'Nunito Sans', sans-serif;
$Prata: 'Prata', serif;
$Roboto: 'Roboto', sans-serif;
//$monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$monospace: 'Roboto Mono', monospace;
