$zero-unit: 0;
$single-unit: 1px;
$double-unit: 2px;
$nano-unit: 4px;
$micro-unit: 8px;
$milli-unit:12px;
$standard-unit: 16px;
$medium-unit: 20px;
$large-unit: 24px;
$x-large-unit: 28px;
$xx-large-unit: 32px;
$xxx-large-unit: 36px;
$max-width: 1024px;
