$zero-unit: 0;
$single-unit: 0.0625rem;
$double-unit: 0.125rem;
$nano-unit: 0.25rem;
$micro-unit: 0.5rem;
$milli-unit: 0.75rem;
$standard-unit: 1rem;
$medium-unit: 1.25rem;
$large-unit: 1.5rem;
$x-large-unit: 1.75rem;
$xx-large-unit: 2rem;
$xxx-large-unit: 2.25rem;
$max-width: 64rem;
