//  Root Colors
$primary: #514EFF;
$secondary: #6DD0BF;
$success: #34b334;
$success-light: #65db65;
$danger: #b30a0a;
$danger-light: #f77479;
$info: #008B8B;
$muted: #9a9a9a;
$disabled: #796d6d;
$black: #000;
$white: #FFF;

//  Derived Colors
$primary-matte: #3734E5;
$secondary-matte: #52B2A2;
$secondary-highlight: #8FF2E1;
$arrow: #1C1C2B;
$quote: #3A3A49;

$primary-light: #9c9aff;
