@import "../all-variables";

$material-form-label: #9a9a9a;
$material-form-label-focus: $secondary;
$material-form-line: #777;
$material-form-line-focus: $material-form-label-focus;
$material-form-input-text: lighten($body-text-default, $lighten-percentage);
$material-form-input-text-focus: $material-form-label-focus;
$material-form-field-invalid-foreground: #d50000;

$material-dropdown-hoverBackground: #e8eaf6;
$material-dropdown-selectedBackground: #9fa8da;
$material-labelOffset: $x-large-unit;
$material-textInputPaddingTopBottom: $milli-unit;

html {
  scroll-behavior: smooth !important;
  transition: all .5s ease-in-out !important;
  font-family: $Nunito-Sans !important;
  letter-spacing: $single-unit !important;
  line-height: 1.5 !important;
  overflow-x: hidden !important;


  &::-webkit-scrollbar {
    width: $nano-unit !important;
  }

  &::-webkit-scrollbar-track {
    background: lighten($card-background, 10%) !important;
  }

  &::-webkit-scrollbar-thumb {
    background: darken($secondary-matte, 20%) !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondary-matte !important;
  }

  body {
    background: $body-background !important;
    color: $body-text-default !important;
    letter-spacing: $single-unit !important;

    * {
      transition: all 150ms ease-in-out !important;
    }

    hr {
      border: none !important;
      height: $single-unit !important;
      background: lighten($footer-background, $darken-percentage) !important;
    }

    a {
      color: $secondary-highlight !important;
      text-decoration: underline !important;
      cursor: pointer !important;
    }

    blockquote {
      font-weight: 300 !important;
      font-family: $Raleway !important;
      border-left: 4px solid $info !important;
      background: $segment-background !important;
      padding: 1.5rem 1rem !important;
      line-height: 1.9 !important;
      box-shadow: $default-box-shadow !important;
      border-radius: $nano-unit !important;
      color: $body-text-default !important;

      a {
        color: $secondary-highlight !important;
      }
    }

    pre, code, kbd, samp {
      font-weight: 300 !important;
      font-family: $monospace !important;
      background: #131111 !important;
      padding: 1rem !important;
      margin: 1rem 0 !important;
      border-radius: $nano-unit !important;
      overflow-x: scroll !important;
      white-space: break-spaces !important;
      word-break: break-all !important;
      line-height: 1.8 !important;
    }

    code {
      padding: 0 !important;
      margin: 0 !important;
    }

    ul, ol {
      list-style: disc !important;
      display: block !important;

      li {
        margin: 1rem !important;
      }
    }

    ol {
      list-style: decimal !important;
    }

    input, textarea {
      padding: $material-textInputPaddingTopBottom 0 $material-textInputPaddingTopBottom 0 !important;
      display: block !important;
      width: 100% !important;
      border: none !important;
      font-size: $medium-unit - $double-unit !important;
      color: $material-form-input-text !important;
      border-bottom: 1px solid $material-form-line !important;
      outline: none !important;
      border-radius: unset !important;
      background-color: unset !important;
      font-weight: unset !important;

      &:hover,
      &:focus,
      &:focus-visible,
      &:active,
      &:focus-within {
        outline: none !important;
        color: $material-form-input-text-focus !important;
        padding-bottom: $material-textInputPaddingTopBottom - 2 !important;
        border-bottom-width: 1px !important;
        border-bottom-color: $secondary-matte !important;
      }

      &:invalid {
        outline: none !important;
        box-shadow: none !important;
      }

      &:valid,
      &:focus {
        & ~ label {
          top: $material-labelOffset -
              ($material-textInputPaddingTopBottom + 5) !important;
          font-size: 14px !important;
        }
      }

      &:focus {
        outline: none !important;
        color: $material-form-input-text-focus !important;
        padding-bottom: $material-textInputPaddingTopBottom - 2 !important;
        border-bottom-width: 1px !important;
        border-bottom-color: $secondary-matte !important;

        & ~ label {
          color: $material-form-label-focus !important;
        }
      }
    }

    table {
      display: table !important;

      tbody {
        display: table !important;
        min-width: 20px !important;
        min-height: 20px !important;

        tr {
          min-width: 20px !important;
          min-height: 20px !important;

          td {
            min-width: 20px !important;
            min-height: 20px !important;
            border: 1px solid lighten($card-background, $lighten-percentage) !important;
            text-align: center !important;
          }
        }
      }
    }

    select {
      color: $muted !important;
      background: $segment-background !important;
      width: 100% !important;
      height: 3.125rem !important;
      border-radius: 4px !important;
      padding: 0.75rem !important;
      letter-spacing: $single-unit !important;
      font-size: 1rem !important;
      border: $single-unit solid $segment-background !important;

      &:hover,
      &:focus,
      &:focus-visible,
      &:active,
      &:focus-within {
        color: $white !important;
        border: $double-unit solid $secondary-matte !important;
        outline: unset !important;
        box-shadow: unset !important;
      }
    }

    blockquote,
    ul,
    ol,
    hr {
      margin: $medium-unit 0 !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative !important;
      margin: $medium-unit 0 !important;
    }

    .material-form-field {
      font-family: $Nunito-Sans !important;
      font-size: $standard-unit !important;
      position: relative !important;
      display: block !important;
      color: $material-form-label !important;
      padding: $material-labelOffset 0 10px 0 !important;

      &::after {
        content: '\00A0' !important;
        display: block !important;
        color: $material-form-field-invalid-foreground !important;
        font-size: $medium-unit - $double-unit !important;
        padding-top: 5px !important;
      }

      .material-form-field-label {
        position: absolute !important;
        display: block !important;
        top: $material-labelOffset + $material-textInputPaddingTopBottom !important;
        left: 0 !important;
        transition: 0.2s ease all !important;
        -moz-transition: 0.2s ease all !important;
        -webkit-transition: 0.2s ease all !important;
        pointer-events: none !important;
        cursor: text !important;
      }

      input {
        padding: $material-textInputPaddingTopBottom 0 $material-textInputPaddingTopBottom 0 !important;
        display: block !important;
        width: 100% !important;
        border: none !important;
        font-size: $medium-unit - $double-unit !important;
        color: $material-form-input-text !important;
        border-bottom: 1px solid $material-form-line !important;
        outline: none !important;

        &:invalid {
          outline: none !important;
          box-shadow: none !important;
        }

        &:valid,
        &:focus {
          & ~ .material-form-field-label {
            top: $material-labelOffset -
              ($material-textInputPaddingTopBottom + $nano-unit) !important;
            font-size: 14px !important;
          }
        }

        &:focus {
          outline: none !important;
          color: $material-form-input-text-focus !important;
          padding-bottom: $material-textInputPaddingTopBottom - 2 !important;
          border-bottom-width: 1px !important;
          border-bottom-color: $secondary-matte !important;

          & ~ .material-form-field-label {
            color: $material-form-label-focus !important;
          }
        }
      }
    }
  }
}
