@import "all-variables";

button {
  position: relative;
  text-align: center;
  min-width: 11rem;
  max-width: 100%;
  padding: 0 1.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 2 * $x-large-unit;
  outline: none 0;
  transition: all .2s ease-in-out;

  &:hover, &:focus, &:focus-visible, &:active, &:focus-within {
    border-radius: 2 * $x-large-unit;
    outline: none 0;
    box-shadow: 0 0 $double-unit $single-unit darken($white, $darken-percentage);
  }
}

.floating-action-button {
  position: fixed !important;
  height: 64px;
  width: 64px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 10px;
}

.primary-outlined-btn {
  background-color: transparent;
  color: lighten($primary-light, $darken-percentage);
  border: $single-unit solid lighten($primary-light, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: rgba($primary-light, .1);
    border-color: lighten($primary-light, $lighten-percentage);
    color: lighten($primary-light, $lighten-percentage);
  }
}

.secondary-outlined-btn {
  background-color: transparent;
  color: darken($secondary, $darken-percentage);
  border: $single-unit solid darken($secondary, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: rgba($secondary, .1);
    border-color: lighten($secondary, $lighten-percentage);
    color: lighten($secondary, $lighten-percentage);
  }
}

.vibrant-outlined-btn {
  background-color: transparent;
  color: lighten($secondary-vibrant, $darken-percentage);
  border: $single-unit solid lighten($secondary-vibrant, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: rgba($secondary-vibrant, .1);
    border-color: lighten($secondary-vibrant, $lighten-percentage);
    color: lighten($secondary-vibrant, $lighten-percentage);
  }
}

.warning-outlined-btn {
  background-color: transparent;
  color: darken($warning, $darken-percentage);
  border: $single-unit solid darken($warning, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: rgba($warning, .1);
    border-color: lighten($warning, $lighten-percentage);
    color: lighten($warning, $lighten-percentage);
  }
}

.premium-outlined-btn {
  background-color: transparent;
  color: darken($premium, $darken-percentage);
  border: $single-unit solid darken($premium, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: rgba($premium, .1);
    border-color: lighten($premium, $lighten-percentage);
    color: lighten($premium, $lighten-percentage);
  }
}

.success-outlined-btn {
  background-color: transparent;
  color: #34b334;
  border: $single-unit solid darken($success, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: rgba($success, .1);
    border-color: lighten($success, $lighten-percentage);
    color: lighten($success, $lighten-percentage);
  }
}

.danger-outlined-btn {
  background-color: transparent;
  color: darken($danger-light, $darken-percentage);
  border: $single-unit solid darken($danger-light, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: rgba($danger-light, .1);
    border-color: lighten($danger-light, $lighten-percentage);
    color: lighten($danger-light, $lighten-percentage);
  }
}

.info-outlined-btn {
  background-color: transparent;
  color: darken($info, $darken-percentage);
  border: $single-unit solid darken($info, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: rgba($info, .1);
    border-color: lighten($info, $lighten-percentage);
    color: lighten($info, $lighten-percentage);
  }
}

.muted-outlined-btn {
  background-color: transparent;
  color: darken($muted, $darken-percentage);
  border: $single-unit solid darken($muted, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: rgba($muted, .1);
    border-color: lighten($muted, $lighten-percentage);
    color: lighten($muted, $lighten-percentage);
  }
}

.white-outlined-btn {
  background-color: transparent;
  color: darken($white, $darken-percentage);
  border: $single-unit solid darken($white, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: rgba($white, .1);
    border-color: lighten($white, $lighten-percentage);
    color: lighten($white, $lighten-percentage);
  }
}

.primary-btn {
  color: $white;
  background-color: darken($primary, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: lighten($primary, $lighten-percentage);
  }

}

.vibrant-btn {
  color: $black;
  background-color: darken($secondary-vibrant, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: lighten($secondary-vibrant, $lighten-percentage);
  }

}

.secondary-btn {
  color: $black;
  background-color: darken($secondary, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: lighten($secondary, $lighten-percentage);
  }

}

.warning-btn {
  color: $black;
  background-color: darken($warning, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: lighten($warning, $lighten-percentage);
  }

}

.premium-btn {
  color: $black;
  background-color: darken($premium, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: lighten($premium, $lighten-percentage);
  }

}

.success-btn {
  color: $white;
  background-color: darken($success, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: lighten($success, $lighten-percentage);
  }
}

.danger-btn {
  color: $white;
  background-color: darken($danger, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: lighten($danger, $lighten-percentage);
  }
}

.info-btn {
  color: $white;
  background-color: darken($info, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: $info;
  }
}

.muted-btn {
  color: $white;
  background-color: darken($muted, $darken-percentage);

  &:focus, &:hover, &:active {
    background-color: lighten($muted, $lighten-percentage);
  }
}

.disabled-btn {
  color: #585858 !important;
  background-color: #2f2f2f !important;
}
