$primary: #C60156;
$secondary: #FF748E;
$muted: #aaaaaa;
$semiDark: #6e6e6e;
$fallBackNavigation: #3e0029;
$carousalBg: #ffebeb;
$indicator: #85085b;
$indicatorHighlight: #fa2f6f;
$primaryFont: 'Bad Script', cursive;
$serif: 'Playfair Display', serif;
$secondaryFont: 'Montserrat', sans-serif;
$navigationFont: 'Roboto', sans-serif;
$standardPaddingX: 64px;
$smallScreen: 575px;
$jumbotronBg: #ededed;
