@import "all-variables";

body {
  font-family: $Raleway;

  strong {
    font-weight: 900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
    font-weight: 400;
    font-style: normal;
    font-family: $Prata;
    line-height: 1.6;
    letter-spacing: $single-unit;
    word-break: break-word;

    a {
      color: $secondary-highlight;
    }

    strong {
      font-weight: 400;
    }
  }

  h1 {
    font-size: $max-font-size;
  }

  h2 {
    font-size: $xxx-large-unit;
  }

  h3 {
    font-size: $xx-large-unit !important;
  }

  h4 {
    font-size: $x-large-unit;
  }

  h5 {
    font-size: $large-unit;
  }

  h6 {
    font-size: $medium-unit;
  }

  p {
    color: #bababa;
    font-family: $Raleway;
    letter-spacing: $single-unit;
    font-weight: 300;
    font-size: $standard-unit;
    line-height: 1.75;
    word-break: break-word;
  }

  small {
    font-family: $Nunito-Sans;
    font-weight: 300;
    font-size: 0.9rem;
  }

  span, p, small {
    a {
      color: $secondary-highlight;
    }
  }

  input {
    font-family: $Nunito-Sans;
    transition: all 150ms ease-in-out;
  }

  label {
    font-family: $Raleway;
    transition: all 150ms ease-in-out;
  }

  ul, ol {
    li {
      font-family: $Nunito-Sans;
      font-weight: 300;
      font-size: 1rem;
    }
  }
}

.heading-title {
  text-align: center;
  position: relative;
  font-weight: 300;

  &::after {
    content: '';
    position: absolute;
    height: $single-unit;
    width: 84px;
    bottom: (-$milli-unit);
    left: calc(50% - 42px);
    background: lighten($primary, $lighten-percentage);
  }
}
