button {
  position: relative;
  text-align: center;
  min-width: 11rem;
  max-width: 100%;
  padding: 0 1.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 3.5rem;
  outline: none 0;
  transition: all 0.2s ease-in-out;
}
button:hover, button:focus, button:focus-visible, button:active, button:focus-within {
  border-radius: 3.5rem;
  outline: none 0;
  box-shadow: 0 0 0.125rem 0.0625rem #f2f2f2;
}

.floating-action-button {
  position: fixed !important;
  height: 64px;
  width: 64px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 10px;
}

.primary-outlined-btn {
  background-color: transparent;
  color: #b5b4ff;
  border: 0.0625rem solid #b5b4ff;
}
.primary-outlined-btn:focus, .primary-outlined-btn:hover, .primary-outlined-btn:active {
  background-color: rgba(156, 154, 255, 0.1);
  border-color: #c4c3ff;
  color: #c4c3ff;
}

.vibrant-outlined-btn {
  background-color: transparent;
  color: #4ff6d8;
  border: 0.0625rem solid #4ff6d8;
}
.vibrant-outlined-btn:focus, .vibrant-outlined-btn:hover, .vibrant-outlined-btn:active {
  background-color: rgba(55, 245, 211, 0.1);
  border-color: #5ef7dc;
  color: #5ef7dc;
}

.secondary-outlined-btn {
  background-color: transparent;
  color: #5acab7;
  border: 0.0625rem solid #5acab7;
}
.secondary-outlined-btn:focus, .secondary-outlined-btn:hover, .secondary-outlined-btn:active {
  background-color: rgba(109, 208, 191, 0.1);
  border-color: #8cdacd;
  color: #8cdacd;
}

.warning-outlined-btn {
  background-color: transparent;
  color: #edaa25;
  border: 0.0625rem solid #edaa25;
}
.warning-outlined-btn:focus, .warning-outlined-btn:hover, .warning-outlined-btn:active {
  background-color: rgba(239, 179, 61, 0.1);
  border-color: #f2c263;
  color: #f2c263;
}

.premium-outlined-btn {
  background-color: transparent;
  color: #ffba34;
  border: 0.0625rem solid #ffba34;
}
.premium-outlined-btn:focus, .premium-outlined-btn:hover, .premium-outlined-btn:active {
  background-color: rgba(255, 195, 77, 0.1);
  border-color: #ffd176;
  color: #ffd176;
}

.success-outlined-btn {
  background-color: transparent;
  color: #34b334;
  border: 0.0625rem solid #2e9f2e;
}
.success-outlined-btn:focus, .success-outlined-btn:hover, .success-outlined-btn:active {
  background-color: rgba(52, 179, 52, 0.1);
  border-color: #46c946;
  color: #46c946;
}

.danger-outlined-btn {
  background-color: transparent;
  color: #ff6969;
  border: 0.0625rem solid #ff6969;
}
.danger-outlined-btn:focus, .danger-outlined-btn:hover, .danger-outlined-btn:active {
  background-color: rgba(255, 130, 130, 0.1);
  border-color: #ffabab;
  color: #ffabab;
}

.info-outlined-btn {
  background-color: transparent;
  color: #007272;
  border: 0.0625rem solid #007272;
}
.info-outlined-btn:focus, .info-outlined-btn:hover, .info-outlined-btn:active {
  background-color: rgba(0, 139, 139, 0.1);
  border-color: #00b4b4;
  color: #00b4b4;
}

.muted-outlined-btn {
  background-color: transparent;
  color: #8d8d8d;
  border: 0.0625rem solid #8d8d8d;
}
.muted-outlined-btn:focus, .muted-outlined-btn:hover, .muted-outlined-btn:active {
  background-color: rgba(154, 154, 154, 0.1);
  border-color: #aeaeae;
  color: #aeaeae;
}

.primary-btn {
  color: #FFF;
  background-color: #3835ff;
}
.primary-btn:focus, .primary-btn:hover, .primary-btn:active {
  background-color: #7977ff;
}

.vibrant-btn {
  color: #000;
  background-color: #1ff4ce;
}
.vibrant-btn:focus, .vibrant-btn:hover, .vibrant-btn:active {
  background-color: #5ef7dc;
}

.secondary-btn {
  color: #000;
  background-color: #5acab7;
}
.secondary-btn:focus, .secondary-btn:hover, .secondary-btn:active {
  background-color: #8cdacd;
}

.warning-btn {
  color: #000;
  background-color: #edaa25;
}
.warning-btn:focus, .warning-btn:hover, .warning-btn:active {
  background-color: #f2c263;
}

.premium-btn {
  color: #000;
  background-color: #ffba34;
}
.premium-btn:focus, .premium-btn:hover, .premium-btn:active {
  background-color: #ffd176;
}

.success-btn {
  color: #FFF;
  background-color: #2e9f2e;
}
.success-btn:focus, .success-btn:hover, .success-btn:active {
  background-color: #46c946;
}

.danger-btn {
  color: #FFF;
  background-color: #9b0909;
}
.danger-btn:focus, .danger-btn:hover, .danger-btn:active {
  background-color: #da0c0c;
}

.info-btn {
  color: #FFF;
  background-color: #007272;
}
.info-btn:focus, .info-btn:hover, .info-btn:active {
  background-color: #008B8B;
}

.muted-btn {
  color: #FFF;
  background-color: #8d8d8d;
}
.muted-btn:focus, .muted-btn:hover, .muted-btn:active {
  background-color: #aeaeae;
}

.disabled-btn {
  color: #585858 !important;
  background-color: #2f2f2f !important;
}

/*# sourceMappingURL=button.css.map */
