@import "all-variables";

$material-form-label: #9a9a9a;
$material-form-label-focus: $secondary;
$material-form-line: #777;
$material-form-line-focus: $material-form-label-focus;
$material-form-input-text: lighten($body-text-default, $lighten-percentage);
$material-form-input-text-focus: $material-form-label-focus;
$material-form-field-invalid-foreground: #d50000;

$material-dropdown-hoverBackground: #e8eaf6;
$material-dropdown-selectedBackground: #9fa8da;
$material-labelOffset: $x-large-unit;
$material-textInputPaddingTopBottom: $milli-unit;

html {
  scroll-behavior: smooth;
  transition: all .5s ease-in-out;
  font-family: $Nunito;
  letter-spacing: 1px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: lighten($card-background, 10%);
  }

  &::-webkit-scrollbar-thumb {
    background: darken($secondary-matte, 20%);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondary-matte;
  }

  body {
    background: $body-background;
    color: $body-text-default;
    transition: all .5s ease-in-out;
    letter-spacing: 1px;

    hr {
      border: none;
      height: 1px;
      background: $card-background;
    }

    a {
      color: $secondary-highlight;
      text-decoration: underline;
      cursor: pointer;
    }

    blockquote {
      font-weight: 300;
      font-family: $Raleway;
      border-left: 4px solid $info;
      background: $segment-background;
      padding: 1.5rem 1rem;
      line-height: 1.9;
      box-shadow: $default-box-shadow;
      border-radius: $nano-unit;
      color: $body-text-default;

      a {
        color: $secondary-highlight;
      }
    }

    pre, code, kbd, samp {
      font-weight: 300;
      font-family: $monospace;
      background: #131111;
      color: white; // #8cb53d;
      padding: 1rem;
      margin: 1rem 0;
      border-radius: $nano-unit;
      word-break: break-all;
      white-space: pre;
      line-height: 1.8;
      overflow: auto;
    }

    code {
      padding: 0;
      margin: 0;
    }

    ul, ol {
      list-style: disc;
      display: block;

      li {
        margin: 1rem;
      }
    }

    ol {
      list-style: decimal;
    }

    input, textarea {
      padding: $material-textInputPaddingTopBottom 0 $material-textInputPaddingTopBottom 0;
      display: block;
      width: 100%;
      border: none;
      font-size: $medium-unit - $double-unit !important;
      color: $material-form-input-text !important;
      border-bottom: 1px solid $material-form-line !important;
      outline: none;
      border-radius: unset;
      background-color: unset;
      font-weight: unset;

      &:hover,
      &:focus,
      &:focus-visible,
      &:active,
      &:focus-within {
        outline: none;
        color: $material-form-input-text-focus !important;
        padding-bottom: $material-textInputPaddingTopBottom - 2;
        border-bottom-width: 3px;
        border-bottom-color: $secondary-matte !important;
      }

      &:invalid {
        outline: none;
        box-shadow: none;
      }

      &:valid,
      &:focus {
        & ~ label {
          top: $material-labelOffset -
              ($material-textInputPaddingTopBottom + 5);
          font-size: 14px;
        }
      }

      &:focus {
        outline: none;
        color: $material-form-input-text-focus;
        padding-bottom: $material-textInputPaddingTopBottom - 2;
        border-bottom-width: 3px;
        border-bottom-color: $secondary-matte !important;

        & ~ label {
          color: $material-form-label-focus !important;
        }
      }
    }

    table {
      display: table;

      tbody {
        display: table;
        min-width: 20px;
        min-height: 20px;

        tr {
          min-width: 20px;
          min-height: 20px;

          td {
            min-width: 20px;
            min-height: 20px;
            border: 1px solid lighten($card-background, $lighten-percentage);
            text-align: center;
          }
        }
      }
    }

    select {
      color: white;
      background: $card-background;
      width: 100%;
      height: 3.125rem;
      border-radius: 4px;
      padding: 0.75rem;
      letter-spacing: 1px;
      font-size: 1rem;
      border: $single-unit solid #138371;

      &:hover,
      &:focus,
      &:focus-visible,
      &:active,
      &:focus-within {
        border: $double-unit solid $secondary-matte;
        outline: unset;
        box-shadow: unset;
      }
    }

    blockquote,
    ul,
    ol,
    hr {
      margin: $medium-unit 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      margin: $medium-unit 0;
      line-height: 1.5;
    }

    .material-form-field {
      font-family: $Roboto;
      font-size: $standard-unit;
      position: relative;
      display: block;
      color: $material-form-label;
      padding: $material-labelOffset 0 10px 0;

      &::after {
        content: '\00A0';
        display: block;
        color: $material-form-field-invalid-foreground;
        font-size: $medium-unit - $double-unit;
        padding-top: 5px;
      }

      .material-form-field-label {
        position: absolute;
        display: block;
        top: $material-labelOffset + $material-textInputPaddingTopBottom;
        left: 0;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        pointer-events: none;
        cursor: text;
      }
      input {
        padding: $material-textInputPaddingTopBottom 0 $material-textInputPaddingTopBottom 0;
        display: block;
        width: 100%;
        border: none;
        font-size: $medium-unit - $double-unit;
        color: $material-form-input-text;
        border-bottom: 1px solid $material-form-line;
        outline: none;

        &:invalid {
          outline: none;
          box-shadow: none;
        }

        &:valid,
        &:focus {
          & ~ .material-form-field-label {
            top: $material-labelOffset -
              ($material-textInputPaddingTopBottom + 5);
            font-size: 14px;
          }
        }

        &:focus {
          outline: none;
          color: $material-form-input-text-focus;
          padding-bottom: $material-textInputPaddingTopBottom - 2;
          border-bottom-width: 3px;
          border-bottom-color: $secondary-matte;

          & ~ .material-form-field-label {
            color: $material-form-label-focus;
          }
        }
      }
    }
  }
}
