@import "all-variables";

html {
  scroll-behavior: smooth;
  transition: all .5s ease-in-out;
  font-family: $Nunito;
  letter-spacing: 1px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: lighten($card-background, 10%);
  }

  &::-webkit-scrollbar-thumb {
    background: darken($secondary-matte, 20%);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondary-matte;
  }

  body {
    background: $body-background;
    color: $body-text-default;
    transition: all .5s ease-in-out;
    letter-spacing: 1px;

    hr {
      border: none;
      height: 1px;
      background: $card-background;
    }

    a {
      color: $secondary-highlight;
      text-decoration: underline;
    }

    blockquote {
      font-weight: 300;
      font-family: $Raleway;
      border-left: 4px solid $info !important;
      background: $segment-background;
      padding: 1.5rem 1rem !important;
      line-height: 1.9;
      box-shadow: $default-box-shadow;
      border-radius: $nano-unit;
      color: $body-text-default;

      a {
        color: $secondary-highlight !important;
      }
    }

    pre, code, kbd, samp {
      font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      background: #131111;
      color: darken(greenyellow, $lighten-percentage);
      padding: 1rem;
      margin: 0;
      border-radius: $nano-unit;
      word-break: break-all;
      white-space: pre-wrap;
      line-height: 1.8;
    }
  }
}
