@charset "UTF-8";
html {
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 0.0625rem;
  line-height: 1.5;
  overflow-x: hidden;
}
html body {
  background: #050514;
  color: #B9B9B9;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.0625rem;
}
html body hr {
  border: none;
  height: 0.0625rem;
  background: #191928;
}
html body a {
  color: #8FF2E1;
  text-decoration: underline;
  cursor: pointer;
}
html body blockquote {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  border-left: 4px solid #008B8B;
  background: #111120;
  padding: 1.5rem 1rem;
  line-height: 1.9;
  box-shadow: 0 0 0.25rem #0d0d17;
  border-radius: 0.25rem;
  color: #B9B9B9;
}
html body blockquote a {
  color: #8FF2E1;
}
html body pre, html body code, html body kbd, html body samp {
  font-weight: 300;
  font-family: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "Roboto Mono", monospace;
  background: #131111;
  color: #8cb53d;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  word-break: break-all;
  line-height: 1.8;
  overflow: auto;
}
html body code {
  padding: 0;
  margin: 0;
}
html body ul, html body ol {
  list-style: disc;
  display: block;
}
html body ul li, html body ol li {
  margin: 1rem;
}
html body ol {
  list-style: decimal;
}
html body input, html body textarea {
  padding: 0.75rem 0 0.75rem 0;
  display: block;
  width: 100%;
  border: none;
  font-size: 1.125rem;
  color: #cdcdcd;
  border-bottom: 1px solid #777;
  outline: none;
  border-radius: unset;
  background-color: unset;
  font-weight: unset;
}
html body input:hover, html body input:focus, html body input:focus-visible, html body input:active, html body input:focus-within, html body textarea:hover, html body textarea:focus, html body textarea:focus-visible, html body textarea:active, html body textarea:focus-within {
  outline: none;
  color: #6DD0BF;
  padding-bottom: -1.25rem;
  border-bottom-width: 3px;
  border-bottom-color: #52B2A2;
}
html body input:invalid, html body textarea:invalid {
  outline: none;
  box-shadow: none;
}
html body input:valid ~ label, html body input:focus ~ label, html body textarea:valid ~ label, html body textarea:focus ~ label {
  top: -4rem;
  font-size: 14px;
}
html body input:focus, html body textarea:focus {
  outline: none;
  color: #6DD0BF;
  padding-bottom: -1.25rem;
  border-bottom-width: 3px;
  border-bottom-color: #52B2A2;
}
html body input:focus ~ label, html body textarea:focus ~ label {
  color: #6DD0BF;
}
html body table {
  display: table;
}
html body table tbody {
  display: table;
  min-width: 20px;
  min-height: 20px;
}
html body table tbody tr {
  min-width: 20px;
  min-height: 20px;
}
html body table tbody tr td {
  min-width: 20px;
  min-height: 20px;
  border: 1px solid #292941;
  text-align: center;
}
html body select {
  color: white;
  background: #191928;
  width: 100%;
  height: 3.125rem;
  border-radius: 4px;
  padding: 0.75rem;
  letter-spacing: 0.0625rem;
  font-size: 1rem;
  border: 0.0625rem solid #138371;
}
html body select:hover, html body select:focus, html body select:focus-visible, html body select:active, html body select:focus-within {
  border: 0.125rem solid #52B2A2;
  outline: unset;
  box-shadow: unset;
}
html body blockquote,
html body ul,
html body ol,
html body hr {
  margin: 1.25rem 0;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  position: relative;
  margin: 1.25rem 0;
}
html body .material-form-field {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  position: relative;
  display: block;
  color: #9a9a9a;
  padding: 1.75rem 0 10px 0;
}
html body .material-form-field::after {
  content: " ";
  display: block;
  color: #d50000;
  font-size: 1.125rem;
  padding-top: 5px;
}
html body .material-form-field .material-form-field-label {
  position: absolute;
  display: block;
  top: 2.5rem;
  left: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
  cursor: text;
}
html body .material-form-field input {
  padding: 0.75rem 0 0.75rem 0;
  display: block;
  width: 100%;
  border: none;
  font-size: 1.125rem;
  color: #cdcdcd;
  border-bottom: 1px solid #777;
  outline: none;
}
html body .material-form-field input:invalid {
  outline: none;
  box-shadow: none;
}
html body .material-form-field input:valid ~ .material-form-field-label, html body .material-form-field input:focus ~ .material-form-field-label {
  top: 0.75rem;
  font-size: 14px;
}
html body .material-form-field input:focus {
  outline: none;
  color: #6DD0BF;
  padding-bottom: -1.25rem;
  border-bottom-width: 3px;
  border-bottom-color: #52B2A2;
}
html body .material-form-field input:focus ~ .material-form-field-label {
  color: #6DD0BF;
}

/*# sourceMappingURL=miscellaneous.css.map */
