@charset "UTF-8";
html {
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 0.0625rem;
  line-height: 1.5;
  overflow-x: hidden;
}
html body {
  background: #050514;
  color: #B9B9B9;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.0625rem;
}
html body hr {
  border: none;
  height: 0.0625rem;
  background: #191928;
}
html body a {
  color: #8FF2E1;
  text-decoration: underline;
  cursor: pointer;
}
html body blockquote {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  border-left: 4px solid #008B8B;
  background: #111120;
  padding: 1.5rem 1rem;
  line-height: 1.9;
  box-shadow: 0 0 0.25rem #0d0d17;
  border-radius: 0.25rem;
  color: #B9B9B9;
}
html body blockquote a {
  color: #8FF2E1;
}
html body pre, html body code, html body kbd, html body samp {
  font-weight: 300;
  font-family: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "Roboto Mono", monospace;
  background: #131111;
  color: #8cb53d;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  word-break: break-all;
  line-height: 1.8;
  overflow: auto;
}
html body code {
  padding: 0;
  margin: 0;
}
html body ul, html body ol {
  list-style: disc;
  display: block;
}
html body ul li, html body ol li {
  margin: 1rem;
}
html body ol {
  list-style: decimal;
}
html body input, html body textarea {
  padding: 0.75rem 0 0.75rem 0;
  display: block;
  width: 100%;
  border: none;
  font-size: 1.125rem;
  color: #cdcdcd;
  border-bottom: 1px solid #777;
  outline: none;
  border-radius: unset;
  background-color: unset;
  font-weight: unset;
}
html body input:hover, html body input:focus, html body input:focus-visible, html body input:active, html body input:focus-within, html body textarea:hover, html body textarea:focus, html body textarea:focus-visible, html body textarea:active, html body textarea:focus-within {
  outline: none;
  color: #6DD0BF;
  padding-bottom: -1.25rem;
  border-bottom-width: 3px;
  border-bottom-color: #52B2A2;
}
html body input:invalid, html body textarea:invalid {
  outline: none;
  box-shadow: none;
}
html body input:valid ~ label, html body input:focus ~ label, html body textarea:valid ~ label, html body textarea:focus ~ label {
  top: -4rem;
  font-size: 14px;
}
html body input:focus, html body textarea:focus {
  outline: none;
  color: #6DD0BF;
  padding-bottom: -1.25rem;
  border-bottom-width: 3px;
  border-bottom-color: #52B2A2;
}
html body input:focus ~ label, html body textarea:focus ~ label {
  color: #6DD0BF;
}
html body table {
  display: table;
}
html body table tbody {
  display: table;
  min-width: 20px;
  min-height: 20px;
}
html body table tbody tr {
  min-width: 20px;
  min-height: 20px;
}
html body table tbody tr td {
  min-width: 20px;
  min-height: 20px;
  border: 1px solid #292941;
  text-align: center;
}
html body select {
  color: white;
  background: #191928;
  width: 100%;
  height: 3.125rem;
  border-radius: 4px;
  padding: 0.75rem;
  letter-spacing: 0.0625rem;
  font-size: 1rem;
  border: 0.0625rem solid #138371;
}
html body select:hover, html body select:focus, html body select:focus-visible, html body select:active, html body select:focus-within {
  border: 0.125rem solid #52B2A2;
  outline: unset;
  box-shadow: unset;
}
html body blockquote,
html body ul,
html body ol,
html body hr {
  margin: 1.25rem 0;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  position: relative;
  margin: 1.25rem 0;
}
html body .material-form-field {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  position: relative;
  display: block;
  color: #9a9a9a;
  padding: 1.75rem 0 10px 0;
}
html body .material-form-field::after {
  content: " ";
  display: block;
  color: #d50000;
  font-size: 1.125rem;
  padding-top: 5px;
}
html body .material-form-field .material-form-field-label {
  position: absolute;
  display: block;
  top: 2.5rem;
  left: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
  cursor: text;
}
html body .material-form-field input {
  padding: 0.75rem 0 0.75rem 0;
  display: block;
  width: 100%;
  border: none;
  font-size: 1.125rem;
  color: #cdcdcd;
  border-bottom: 1px solid #777;
  outline: none;
}
html body .material-form-field input:invalid {
  outline: none;
  box-shadow: none;
}
html body .material-form-field input:valid ~ .material-form-field-label, html body .material-form-field input:focus ~ .material-form-field-label {
  top: 0.75rem;
  font-size: 14px;
}
html body .material-form-field input:focus {
  outline: none;
  color: #6DD0BF;
  padding-bottom: -1.25rem;
  border-bottom-width: 3px;
  border-bottom-color: #52B2A2;
}
html body .material-form-field input:focus ~ .material-form-field-label {
  color: #6DD0BF;
}

button {
  position: relative;
  text-align: center;
  min-width: 11rem;
  max-width: 100%;
  padding: 0 1.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 3.5rem;
  outline: none 0;
  transition: all 0.2s ease-in-out;
}
button:hover, button:focus, button:focus-visible, button:active, button:focus-within {
  border-radius: 3.5rem;
  outline: none 0;
  box-shadow: 0 0 0.125rem 0.0625rem #f2f2f2;
}

.floating-action-button {
  position: fixed !important;
  height: 64px;
  width: 64px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 10px;
}

.primary-outlined-btn {
  background-color: transparent;
  color: #b5b4ff;
  border: 0.0625rem solid #b5b4ff;
}
.primary-outlined-btn:focus, .primary-outlined-btn:hover, .primary-outlined-btn:active {
  background-color: rgba(156, 154, 255, 0.1);
  border-color: #c4c3ff;
  color: #c4c3ff;
}

.vibrant-outlined-btn {
  background-color: transparent;
  color: #4ff6d8;
  border: 0.0625rem solid #4ff6d8;
}
.vibrant-outlined-btn:focus, .vibrant-outlined-btn:hover, .vibrant-outlined-btn:active {
  background-color: rgba(55, 245, 211, 0.1);
  border-color: #5ef7dc;
  color: #5ef7dc;
}

.secondary-outlined-btn {
  background-color: transparent;
  color: #5acab7;
  border: 0.0625rem solid #5acab7;
}
.secondary-outlined-btn:focus, .secondary-outlined-btn:hover, .secondary-outlined-btn:active {
  background-color: rgba(109, 208, 191, 0.1);
  border-color: #8cdacd;
  color: #8cdacd;
}

.warning-outlined-btn {
  background-color: transparent;
  color: #edaa25;
  border: 0.0625rem solid #edaa25;
}
.warning-outlined-btn:focus, .warning-outlined-btn:hover, .warning-outlined-btn:active {
  background-color: rgba(239, 179, 61, 0.1);
  border-color: #f2c263;
  color: #f2c263;
}

.premium-outlined-btn {
  background-color: transparent;
  color: #ffba34;
  border: 0.0625rem solid #ffba34;
}
.premium-outlined-btn:focus, .premium-outlined-btn:hover, .premium-outlined-btn:active {
  background-color: rgba(255, 195, 77, 0.1);
  border-color: #ffd176;
  color: #ffd176;
}

.success-outlined-btn {
  background-color: transparent;
  color: #34b334;
  border: 0.0625rem solid #2e9f2e;
}
.success-outlined-btn:focus, .success-outlined-btn:hover, .success-outlined-btn:active {
  background-color: rgba(52, 179, 52, 0.1);
  border-color: #46c946;
  color: #46c946;
}

.danger-outlined-btn {
  background-color: transparent;
  color: #ff6969;
  border: 0.0625rem solid #ff6969;
}
.danger-outlined-btn:focus, .danger-outlined-btn:hover, .danger-outlined-btn:active {
  background-color: rgba(255, 130, 130, 0.1);
  border-color: #ffabab;
  color: #ffabab;
}

.info-outlined-btn {
  background-color: transparent;
  color: #007272;
  border: 0.0625rem solid #007272;
}
.info-outlined-btn:focus, .info-outlined-btn:hover, .info-outlined-btn:active {
  background-color: rgba(0, 139, 139, 0.1);
  border-color: #00b4b4;
  color: #00b4b4;
}

.muted-outlined-btn {
  background-color: transparent;
  color: #8d8d8d;
  border: 0.0625rem solid #8d8d8d;
}
.muted-outlined-btn:focus, .muted-outlined-btn:hover, .muted-outlined-btn:active {
  background-color: rgba(154, 154, 154, 0.1);
  border-color: #aeaeae;
  color: #aeaeae;
}

.primary-btn {
  color: #FFF;
  background-color: #3835ff;
}
.primary-btn:focus, .primary-btn:hover, .primary-btn:active {
  background-color: #7977ff;
}

.vibrant-btn {
  color: #000;
  background-color: #1ff4ce;
}
.vibrant-btn:focus, .vibrant-btn:hover, .vibrant-btn:active {
  background-color: #5ef7dc;
}

.secondary-btn {
  color: #000;
  background-color: #5acab7;
}
.secondary-btn:focus, .secondary-btn:hover, .secondary-btn:active {
  background-color: #8cdacd;
}

.warning-btn {
  color: #000;
  background-color: #edaa25;
}
.warning-btn:focus, .warning-btn:hover, .warning-btn:active {
  background-color: #f2c263;
}

.premium-btn {
  color: #000;
  background-color: #ffba34;
}
.premium-btn:focus, .premium-btn:hover, .premium-btn:active {
  background-color: #ffd176;
}

.success-btn {
  color: #FFF;
  background-color: #2e9f2e;
}
.success-btn:focus, .success-btn:hover, .success-btn:active {
  background-color: #46c946;
}

.danger-btn {
  color: #FFF;
  background-color: #9b0909;
}
.danger-btn:focus, .danger-btn:hover, .danger-btn:active {
  background-color: #da0c0c;
}

.info-btn {
  color: #FFF;
  background-color: #007272;
}
.info-btn:focus, .info-btn:hover, .info-btn:active {
  background-color: #008B8B;
}

.muted-btn {
  color: #FFF;
  background-color: #8d8d8d;
}
.muted-btn:focus, .muted-btn:hover, .muted-btn:active {
  background-color: #aeaeae;
}

.disabled-btn {
  color: #585858 !important;
  background-color: #2f2f2f !important;
}

body {
  font-family: "Raleway", sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #FFF;
  font-weight: 400;
  font-style: normal;
  font-family: "Prata", serif;
  line-height: 1.6;
  letter-spacing: 0.0625rem;
  word-break: break-word;
}
body h1 a,
body h2 a,
body h3 a,
body h4 a,
body h5 a,
body h6 a {
  color: #8FF2E1;
}
body h1 {
  font-size: 2.2rem;
}
body h2 {
  font-size: 2rem;
}
body h3 {
  font-size: 1.8rem;
}
body h4 {
  font-size: 1.6rem;
}
body h5 {
  font-size: 1.4rem;
}
body h6 {
  font-size: 1.2rem;
}
body p {
  color: #bababa;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.0625rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.85;
  word-break: break-word;
}
body strong {
  font-weight: 900;
}
body small {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}
body span a, body p a, body small a {
  color: #8FF2E1;
}
body input {
  font-family: "Nunito Sans", sans-serif;
  transition: all 150ms ease-in-out;
}
body label {
  font-family: "Raleway", sans-serif;
  transition: all 150ms ease-in-out;
}
body ul li, body ol li {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.heading-title {
  text-align: center;
  position: relative;
  margin: 2rem 0 2.5rem;
  font-weight: 300;
}
.heading-title::after {
  content: "";
  position: absolute;
  height: 0.0625rem;
  width: 84px;
  bottom: -0.75rem;
  left: calc(50% - 42px);
  background: #7977ff;
}

.primary {
  color: #514EFF;
}

.secondary {
  color: #6DD0BF;
}

.success {
  color: #34b334;
}

.danger {
  color: #b30a0a;
}

.danger-light {
  color: #ff8282;
}

.info {
  color: #008B8B;
}

.muted {
  color: #9a9a9a;
}

.disabled {
  color: #796d6d;
}

.black {
  color: #000;
}

.white {
  color: #FFF;
}

.primary-matte {
  color: #3734E5;
}

.primary-light {
  color: #9c9aff;
}

.hint-text {
  color: #c3c300;
}

.secondary-matte {
  color: #52B2A2;
}

.secondary-highlight {
  color: #8FF2E1;
}

.arrow {
  color: #1C1C2B;
}

.quote {
  color: #3A3A49;
}

.premium {
  color: #ffc34d;
}

.vibrant {
  color: #37F5D3;
}

.faded-divider {
  background: linear-gradient(to right, #191928, #050514);
}

.reversed-faded-divider {
  background: linear-gradient(to left, #191928, #050514);
}

.active-background {
  background: linear-gradient(to right, #CC2B5E, #753A88);
}

/*# sourceMappingURL=style-guide.css.map */
