@import 'assets/variables';
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

$HeadingFont: 'Prata', serif;
$BodyFont: 'Raleway', sans-serif;
$primary-btn-color: $primary;
$secondary-btn-color: $secondary;
$success-btn-color: green;
$danger-btn-color: #b30a0a;
$info-btn-color: darkcyan;
$muted-btn-color: grey;
$disabled-btn-color: #796d6d;
$button-border-width: 1px;

body {
  background: $body-background;
  color: $body-text-default;
  transition: all .5s ease-in-out;
  letter-spacing: 1px;
  padding: 1rem;

  hr {
    border: none;
    height: 1px;
    background: $card-background;
  }

  button {
    margin: 1rem 0;
    min-width: 10.7rem;
    padding: 0 1rem;
    height: 2.6rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50px;
    color: $white;
    background: $primary;
  }

  .primary-outlined-btn {
    background: transparent;
    color: $primary-btn-color;
    border: $button-border-width solid $primary-btn-color;
  }

  .secondary-outlined-btn {
    background: transparent;
    color: $secondary-btn-color;
    border: $button-border-width solid $secondary-btn-color;
  }

  .success-outlined-btn {
    background: transparent;
    color: #34b334;
    border: $button-border-width solid #34b334;
  }

  .danger-outlined-btn {
    background: transparent;
    color: #d45353;
    border: $button-border-width solid #d45353;
  }

  .info-outlined-btn {
    background: transparent;
    color: $info-btn-color;
    border: $button-border-width solid $info-btn-color;
  }

  .muted-outlined-btn {
    background: transparent;
    color: $muted-btn-color;
    border: $button-border-width solid $muted-btn-color;
  }

  .primary-btn {
    color: $white;
    background: $primary;
  }

  .secondary-btn {
    color: $black;
    background: $secondary-matte;
  }

  .success-btn {
    color: $white;
    background: green;
  }

  .danger-btn {
    color: $white;
    background: #b30a0a;
  }

  .info-btn {
    color: $white;
    background: darkcyan;
  }

  .muted-btn {
    color: $white;
    background: grey;
  }

  .disabled-btn {
    color: #585858;
    background: #2f2f2f;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1rem 0;
    color: $white;
    font-weight: 400;
    font-family: $HeadingFont;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  p {
    color: #bababa;
    font-family: $BodyFont;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.85;
  }
}

.buttons {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}
