.the-router-page-content {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.page-enter-active, .page-leave-active {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.page-enter, .page-leave-active {
  opacity: 0;
  transform: translateX(15px);
}

.gray-shift-enter-active, .gray-shift-leave-active {
  transition: all .3s cubic-bezier(.55, 0, .1, 1);
}

.gray-shift-enter, .gray-shift-leave-active {
  opacity: 0;
  transform: scale(.99);
  filter: grayscale(100%);
}
