$animation-duration: 300ms;

.the-router-page-content {
  transition: all $animation-duration cubic-bezier(.55, 0, .1, 1);
}

.page-enter-active, .page-leave-active {
  transition: all $animation-duration cubic-bezier(.55, 0, .1, 1);
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.gray-shift-enter-active, .gray-shift-leave-active {
  transition: all .3s cubic-bezier(.55, 0, .1, 1);
}

.gray-shift-enter, .gray-shift-leave-active {
  opacity: 0;
  transform: scale(.99);
  filter: grayscale(100%);
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: all $animation-duration ease-in-out;
}

.slide-left-enter, .slide-left-leave-active {
  transform: translateY(100px);
  opacity: 0;
}

.slide-right-enter-active, .slide-right-leave-active {
  transition: all $animation-duration ease-in-out;
}

.slide-right-enter, .slide-right-leave-active {
  transform: translateY(-100px);
  opacity: 0;
}
