$primary: #514EFF;
$primary-matte: #3734E5;
$secondary: #6DD0BF;
$secondary-matte: #52B2A2;
$secondary-highlight: #8FF2E1;
$muted: #959595;

$arrow-tone: #1C1C2B;
$quote-tone: #3A3A49;

$eco-tone: #1B7B6B;
$eco-tick: #7EE1D0;

$silver-tone: #3734E5;
$silver-tick: #C5C2FF;

$gold-tone: #EFB33D;

$card-background: #191928;
$body-background: #050514;
$segment-background: #111120;
$footer-background: #1C1C2B;

$black: #000000;
$white: #FFFFFF;

$body-text-default: #BABABA;

$Nunito: 'Nunito', sans-serif;
$Nunito-Sans: 'Nunito Sans', sans-serif;
$Prata: 'Prata', serif;
$Roboto: 'Roboto', sans-serif;

$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

$headline-title-font-size: clamp(36px, 4vw, 52px);
$segment-title-font-size: clamp(24px, 4vw, 40px);
$footer-title-font-size: clamp(28px, 3vw, 32px);


// --------------------------- Base Styling -----------------------------------


button {
  font-size: 16px !important;
  padding: 20px 28px !important;
  font-weight: 600 !important;
}

button, a {
  text-transform: capitalize !important;
}

.v-app, .v-main, .v-footer {
  background: $body-background;
  color: $body-text-default;
  transition: all .5s ease-in-out;
  font-family: $Nunito-Sans;
  letter-spacing: 1px;
}

.visible-on-extra-small {
  display: flex !important;

  @media only screen and (min-width: $small) {
    display: none !important;
  }
}

.visible-on-small {
  display: none !important;

  @media only screen and (min-width: $small) {
    display: flex !important;
  }

  @media only screen and (min-width: $medium) {
    display: none !important;
  }
}

.visible-on-medium {
  display: none !important;

  @media only screen and (min-width: $medium) {
    display: flex !important;
  }

  @media only screen and (min-width: $large) {
    display: none !important;
  }
}

.visible-on-large {
  display: none !important;

  @media only screen and (min-width: $large) {
    display: flex !important;
  }

  @media only screen and (min-width: $extra-large) {
    display: none !important;
  }
}

.visible-on-extra-large {
  display: none !important;

  @media only screen and (min-width: $extra-large) {
    display: flex !important;
  }
}

.visible-on-all {
  display: flex !important;
}

.visible-on-small-and-up {
  display: none !important;

  @media only screen and (min-width: $small) {
    display: flex !important;
  }
}

.visible-on-medium-and-up {
  display: none !important;

  @media only screen and (min-width: $medium) {
    display: flex !important;
  }
}

.visible-on-large-and-up {
  display: none !important;

  @media only screen and (min-width: $large) {
    display: flex !important;
  }
}

.visible-on-extra-large-and-up {
  display: none !important;

  @media only screen and (min-width: $extra-large) {
    display: flex !important;
  }
}

.visible-upto-small {
  display: flex !important;

  @media only screen and (min-width: $small) {
    display: none !important;
  }
}

.visible-upto-medium {
  display: flex !important;

  @media only screen and (min-width: $medium) {
    display: none !important;
  }
}

.visible-upto-large {
  display: flex !important;

  @media only screen and (min-width: $large) {
    display: none !important;
  }
}

.visible-upto-extra-large {
  display: flex !important;

  @media only screen and (min-width: $extra-large) {
    display: none !important;
  }
}
