@import 'themeData';

.banner {
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(60, 60, 60, .15);

  .collaborateHeading {
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
    font-size: 36px;
    @media screen and (min-width: 1024px) {
      font-size: 44px;
    }
  }
}

.aboutText {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 36px;
  text-align: justify;
  font-weight: 300;
}