@import "base";
@import "cards";

@function times($value1, $value2) {
  @return $value1 * $value2;
}

.carousel {
  margin: 12px 0;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  background: $carousalBg;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(60, 60, 60, .15);

  .carouselImage {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(60, 60, 60, .15);
  }

  .carouselBody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 650px;

    .carouselContent {


      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }

        .carouselTitle {
          color: black;
          font-family: $serif;
          font-size: 40px;
          letter-spacing: 1px;
        }
      }

      .carouselSubtitle {
        line-height: 28px;
        letter-spacing: 1px;
        margin: 36px 0;
        color: darken($semiDark, 5%);
      }
    }
  }

  .carousel-control-prev, .carousel-control-next {
    cursor: pointer;
  }

  .arrowLeft, .arrowRight {
    height: 25px;
    width: 25px;
    display: block;
    border-top: 5px solid black;
    border-left: 5px solid black;
    cursor: pointer;
  }

  .arrowRight {
    transform: rotate(135deg);
  }

  .arrowLeft {
    transform: rotate(-45deg);
  }
}

.btn-secondary {
  border-radius: times($borderRadius, 2);
}

.jumbotronDiv {
  .jumbotron {
    border-radius: 15px;
    background: lighten($jumbotronBg, 5%);
    box-shadow: 5px 5px 10px rgba(60, 60, 60, .15);

    .heroHeadText {
      font-family: $serif;
      letter-spacing: 2px;
      font-weight: 500;
      font-size: 36px;
      @media screen and (min-width: 1024px) {
        font-size: 44px;
      }
    }

    .hero {
      font-family: $navigationFont;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 300;
      color: darken($semiDark, 7%);
    }
  }
}

.trendingBlock {
  .trendingTitle {
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    color: $primary;
    font-size: 36px;

    @media screen and (min-width: 1024px) {
      font-size: 44px;
    }

    font-family: $serif;
    letter-spacing: 1px;
    line-height: 48px;
    font-weight: 500;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .trendingIntro {
    line-height: 36px;
    font-size: 18px;

    color: darken($semiDark, 10%);
  }

  .trendingPostTime {
    font-family: $navigationFont;
    font-weight: 300;
  }

  .trendingBody {
    .trendingBlogImage {
      border-radius: 10px;
      object-fit: cover;
    }

    .trendingText, ul {
      line-height: 32px;
      overflow-wrap: break-word;
      color: darken($semiDark, 7%);

      .dotDotDot {
        letter-spacing: 2px;
      }

      .trendingFooter {
        line-height: 36px;
        font-size: 18px;

        color: darken($semiDark, 10%);
      }
    }
  }
}

.bold {
  line-height: 36px;
  font-weight: 500;
  font-size: 22px;
  color: darken($semiDark, 10%);
}