@import 'assets/themeData';

$borderRadius: 25px;
.card {
  border-radius: $borderRadius !important;
  background-color: transparent;
  //border: none !important;
  filter: drop-shadow(5px 5px 10px rgba(60, 60, 60, .15));

  .card-header {
    border-top-left-radius: $borderRadius !important;
    border-top-right-radius: $borderRadius !important;

    .card-title {
      font-family: $serif;
      //font-weight: 500;
      font-size: 24px;
      letter-spacing: 1px;
    }
  }

  .card-body {
    border-radius: $borderRadius !important;

    .card-text {
      color: $semiDark;
      letter-spacing: 1px;
      line-height: 28px;

    }
  }

  .card-img-top {
    height: 200px;
    object-position: center;
    object-fit: contain;
    @media screen and (min-width: 1024px) {
      //height: 150px;
    }
  }

  .card-footer {
    border-bottom-left-radius: $borderRadius !important;
    border-bottom-right-radius: $borderRadius !important;
  }
}
