@import 'themeData';
@import "base";
@import 'blogHome';

.introBanner {
  @media screen and (max-width: $smallScreen) {
    height: 100vh;
  }

  .subtitle {
    line-height: 28px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  }

  position: relative;

  .scrollDown {
    position: absolute;
    width: 44px;
    height: 44px;
    left: calc(50% - 22px);
    bottom: 64px;
    fill: transparent;
    stroke: darken($primary, 5%);
    stroke-dasharray: 40;
    stroke-dashoffset: 40;
    filter: drop-shadow(5px 5px 10px rgba(60, 60, 60, .15));
    animation: draw 1.2s ease-in-out forwards .3s,
    appear .5s ease-in-out forwards 1.4s,
    bounce 1s ease-in-out infinite alternate 1.9s;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes appear {
    to {
      fill: darken($primary, 7%);
      stroke-width: 0;
    }
  }

  @keyframes bounce {
    from {
      fill: darken($primary, 7%);
    }
    to {
      bottom: 24px;
      fill: lighten($primary, 7%);
    }
  }
}

