@import "assets/variables";

html {
  scroll-behavior: smooth;
  background: $body-background;
  color: $body-text-default;
  transition: all .5s ease-in-out;
  font-family: $Nunito;
  letter-spacing: 1px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: lighten($card-background, 10%);
  }

  &::-webkit-scrollbar-thumb {
    background: darken($secondary-matte, 20%);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondary-matte;
  }
}

.the-router-page-content {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}

.page-enter, .page-leave-active {
  opacity: 0
}

.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

.dbx {
  border: 2px solid red !important;
}
