@import "assets/style-guide";
@import "assets/transitions-and-animations";

.dbx {
  border: 2px solid red !important;
}

.dbx-outline {
  outline: 2px solid red !important;
}

* {
  -webkit-tap-highlight-color: transparent;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (prefers-reduced-motion) {
    transition: unset !important;
  }
}
